/*  
  Bebas Neue is an Open Source font family, 
  originally designed as a single font by Ryoichi Tsunekawa.
  https://fonts.adobe.com/variations/13407/eula 
*/

@font-face {
  font-family: 'BebasNeue';
  src: url('./BebasNeueCyrillic.woff2') format('woff2'),
    url('./BebasNeueCyrillic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}