@font-face {
    /* TODO: add fallback for unsupported characters */
    font-family: 'BebasNeue';
    /* There are a handful of fallback / different format fonts available, 
        however we're only serving one single format to reduce the bundle size */
    src: url('./BebasNeue-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
