#people.visible {
  transform: scale(0.9);
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

#people {
  border-radius: 0;
  background-color: transparent;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  min-height: 20rem;
}

#people .person {
  display: flex;
  align-items: flex-end;
}

.couch {
  display: flex;
  justify-content: space-between;
}

.couch .speaker {
  max-width: 12rem;
}

.guests {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guests .guest {
  max-width: 50%
}

.guests .mic {
  max-width: 30%
}

.tools {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 1rem 0;
}