#people.visible {
  transform: scale(0.9);
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

#people {
  border-radius: 0;
  background-color: transparent;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

#people .person {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#people .data {
  padding-bottom: 5px;
  border-bottom: 1px var(--secondary-text-color) solid;
  width: 90%;
}

#people .data span {
  color: #6c7ea1;
  margin-left: 0.5rem;
}

#people .person paper-button {
  min-width: 3rem;
  margin-bottom: 7px
}

.couch {
  display: flex;
  justify-content: space-between;
}

.couch .speaker {
  max-width: 12rem;
}

.guests {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guests .guest {
  max-width: 50%
}

.guests .mic {
  max-width: 30%
}

.tools {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 1rem 0;
}

.tools.add{
  align-items: flex-end;
}